{% extends 'base.html' %}
{% block title %}Create Post{% endblock %}

{% block content %}
<form action="/posts/create" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Post Title</label>
    <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Post Body</label>
    <textarea class="form-control" name="body" rows="10"> </textarea>
  </div>
  <button type="submit" class="btn btn-primary">Create Post</button>
</form>
{% endblock %}